:root{
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

/* Studio */
/* -------------HEADER------------- */

.header {
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-up-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-list{
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-nav-link:is(:hover, :focus) {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404BBF;
}

.header-link {
}

.header-address {
    font-style: normal;
}

.header-adrs-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-adrs-link:is( :hover, :focus){
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf
}


/* -----------HERO------------- */

.hero{
    background: #2E2F42;
}

.hero-header{
    font-style: normal;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero-button:is(:hover, :focus) {
    background-color: #404BBF
}

/* -----------SECTION 1------------- */

.first-header{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.first-par{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* -----------SECTION 2------------- */

.second-head{
    font-style: normal;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.second-img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}


/* -----------SECTION 3------------- */

.section-third{
    background: #F4F4FD;
}

.third-head{
    font-style: normal;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.third-item{
    background-color: #FFFFFF
}

.third-header{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.third-par{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-img{
}


/* -----------FOOTER------------- */

.footer{
    background: #2E2F42;
}

.logo-down-studio{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-par{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* Portfolio */
/* -----------FILTER------------- */

.filter-item{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

.filter-item:is(:hover, :focus){
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: #404BBF;
    color: #FFFFFF;
    cursor: pointer;
}

/* -----------PROJECTS------------- */

.project-head{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.project-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;    
}






















/* пример смены цвета при наведении на елемент
.header-link:hover{
    color: blue;
} 
пример смены цвета при зажимании елемента
.header-link:focus{
    color: blue;
}
это же, но компактнее
.header-link:is(:hover, :focus) {
    color: blue;
*/